.item-container {
  display: flex !important;
  margin: auto;
  width: 100%;
  height: calc((100vw) * 0.055);
  padding: 5px 0 !important;
}

.item-container .content {
  width: calc(80% - 5px) !important;
}

.img-container {
  width: calc(20% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 36%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 8px 2px 5px 1px grey;
}

.list-container .item {
  border-top: 1px solid rgba(34,36,38,.15) !important;
}

.list-container .item:last-child {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

@media screen and (max-width: 1024px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: small;
  }

  .shortDescription {
    margin-left: 10px;
    overflow: hidden;
  }

  .content h3 {
    font-size: small;
    text-overflow: ellipsis;
  }
}